{% extends 'maps/form.html' %}
{% block stuff %}
    {% if main == 'Вы не указали участников' %}
        <div class="error" style="font-size: 18px; text-align: center; height: 100vh; display: flex; justify-content: center; align-items: center;">
            <div class="col-md-6 col-sm-10" >
                <p>{{ main }}</p>
                <a href="{% url 'set_link' %}" class="btn btn-primary col-12" style="font-size: 18px; padding-top: 10px; padding-bottom: 10px;">Указать участников</a>
            </div>
        </div>
    {% else %}
    <div class="container" style="padding-top: 150px; text-align: center;">
    <div class="title col-12" style="margin-bottom: 10px; position: fixed; left: 50%;
    transform: translateX(-50%); top: 30px; background-color: white; padding-top: 60px; padding-bottom: 15px; z-index: 100;">
        <div class="container" style="display: flex;">
        <div class="team_left col-4">
            <h5>team left</h5>
        </div>
        <div class="vs col-4">
            <h5>VS</h5>
        </div>
        <div class="team_right col-4">
            <h5>team right</h5>
        </div>
        </div>
    </div>
    {% for map, sides in main.items %}
        <div class="card text-dark bg-light mb-3" style="z-index: 50;">
            <div class="card-header" style="padding-top: 13px;"><h4>{{ map }}</h4></div>
            <div class="card-body" style="display: flex; padding: 16px 0;">
        {% for side, stats in sides.items %}
            <div class="side col-4">
                {% if side == 'vs' %}
                    {% for stat, value in stats.items %}
                        <h5 class='card-title'>{{ stat }}</h5>
                        <p class='card-text' style=" font-size: 18px; color: {% if value > 0 %}green{% elif value < 0 %}red{% endif %}">{{ value }}%</p>
                    {% endfor %}
                {% else %}
                    {% for stat, value in stats.items %}
                        <h5 class='card-title' style="visibility: hidden;">{{ stat }}</h5>
                        <p class='card-text' style="font-size: 18px;">{{ value }}{% if stat in 'win_rate,drop_probability' %}%{% endif %}</p>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
    {% endif %}
{% endblock %}